@media screen and (min-width: 0px) and (max-width: 479px) {
  .container,
  .footer__container,
  .container__clients,
  .feature-section__container,
  .workers-list,
  .container__filters,
  .project-list,
  .banner,
  .project-list__container,
  .container__examples {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container,
  .footer__container,
  .container__clients,
  .feature-section__container,
  .workers-list,
  .container__filters,
  .project-list,
  .banner,
  .project-list__container,
  .container__examples {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container,
  .footer__container,
  .container__clients,
  .feature-section__container,
  .workers-list,
  .container__filters,
  .project-list,
  .banner,
  .project-list__container,
  .container__examples {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .footer__container,
  .container__clients,
  .feature-section__container,
  .workers-list,
  .container__filters,
  .project-list,
  .banner,
  .project-list__container,
  .container__examples {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* === banner section styles === */
body {
  align-items: center;
  justify-content: center;
  padding: 0;
}
.banner {
  max-width: 1600px;
  max-height: 600px;
  background: var(--background-color);
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4)),
      url("../images/hero@x2.jpg");
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 60px;
    max-width: 480px;
  }
  @media screen and (max-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.main-header {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
.button.div {
  margin-top: 30px;
}
.order-button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}

/* === особливості === */

.feature-section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }

  &__container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }
}

.feature-list {
  padding-left: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 90px) / 4);
  }

  &__item {
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 270px;
      margin-bottom: 0px;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
  &__description {
    text-transform: none;
    font-weight: normal;
    line-height: 1.71em;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
    // margin-bottom: 10px;
  }
}

/* ==== чим ми займаємось ==== */
.section__name {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.container__examples {
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section.examples {
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.example-list {
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.company-section {
  background-color: #f5f4fa;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.worker-box {
  padding: 30px 15px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.workers-list {
  max-width: 1200px;
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 480px) {
    &__item:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  &__item {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 450px;

    @media screen and (min-width: 480px) {
      padding: 0 0;
      &:nth-child(n + 3) {
        margin-bottom: 0px;
      }
    }
    // @media screen and (min-width: 768px) {
    //   margin-right: 30px;
    // }

    @media screen and (max-width: 479px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      max-width: 450px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 16px;
  }
  &__position {
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .workers-list__item::nth-child(2n) {
    margin-right: 0;
  }
}
.example-img {
  max-width: 450px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.example-list__item:not(:last-child) {
  margin-right: 30px;
}

.social-link__box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 0px;
  border-radius: 30px;
}
.social-link {
  display: inline-block;
  border-radius: 30px;
  width: 44px;
  height: 44px;
  margin-right: 5px;
  margin-left: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover svg,
  &:focus svg {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);

    &:not(:last-child) {
      // margin-right: 10px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.social-link .social-ico {
  box-sizing: border-box;

  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
}
.section {
  padding-top: 60px;
  padding-bottom: 45px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
// .container__clients {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.company-link__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.company-link__logo {
  display: inline-block;
  border-radius: 30px;
  width: 210px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill border-color;
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.company-link__item {
  margin-bottom: 30px;
  &:nth-child(n + 5) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 0px;
    &:nth-child(n + 4) {
      margin-bottom: 0px;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
    margin-bottom: 0px;
  }
}
.company-link__item:nth-child(3) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
