.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover .icon-close,
  &:hover .icon-burger {
    fill: var(--accent-color);
  }
  &:focus .icon-close,
  &:focus .icon-burger {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open {
  z-index: 10;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-container {
  background-color: #fff;

  padding: 48px 25px;
  font-size: 20px;

  display: none;
  position: absolute;
  top: 31%;
  left: 0;

  &.is-open {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
    height: 100vh;
    padding-top: 28px;
    padding-bottom: 50px;
    .info-list {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0 0;
    position: static;
    max-width: 1200px;
  }
}

.menu-container__social {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: 0.02em;
  padding: 0 10px;

  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-container__social:first-child {
  padding-left: 0;
}
.menu-container__links {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
