/* ======== modal window ======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms linear;
  }
  &.is-hidden .modal {
    opacity: 0.5;
    scale: 0.5;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 250ms linear;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  min-width: 450px;
  opacity: 1;
  scale: 1;
  transition: transform 250ms linear;
  padding: 40px;
  border-radius: 4px;
}
.close-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
}
.cross {
  fill: #000000;
  width: 11px;
  height: 11px;
}
/* ====== form ====== */
.form {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);

  & label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16em;
    letter-spacing: 0.01em;
  }
  & textarea {
    padding: 12px;
    resize: none;
    width: 100%;
    min-height: 120px;
    margin-bottom: 20px;
    text-indent: 0px;
  }
  & a {
    text-decoration: underline;
    color: #2196f3;
  }
}
.modal__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: #212121;
}

.input {
  font-family: inherit;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  text-indent: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fake-input {
  position: relative;
  margin-bottom: 10px;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-field {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

label.policy {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.71em;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
input[type="checkbox"] {
  margin-bottom: 0;
  margin-right: 7px;
}
.submit {
  display: block;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  color: #ffffff;
  letter-spacing: 0.06em;
  border-style: none;
  margin-left: auto;
  margin-right: auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ico {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  /* margin: 11px 12px; */
  top: 0;
  left: 0;
  transform: translate(12px, 11px);
}
.fake-input:hover .form-ico,
.input:focus + .form-ico {
  fill: #188ce8;
}
.input:hover,
.input:focus {
  border: 1px solid #188ce8;
}
.fake-input:hover > .input {
  border: 1px solid #188ce8;
}
.close-modal:hover > .cross,
.close-modal:focus > .cross {
  fill: #188ce8;
}
.submit:hover,
.submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.agree-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon_check.svg);
  border: 2px solid black;
  border-radius: 4px;
}
.policy {
  display: flex;
  align-items: center;
}
.policy-checkbox:checked + .agree-icon {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}
.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =====overlay===== */

.thumb {
  position: relative;
  overflow: hidden;
}
.img-box {
  position: relative;
}
.img-description {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  /* padding-bottom: 27px; */
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  display: block;
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 70px;
}

.example-img {
  display: block;
}
